USE [master]
GO


/****** Object:  Database [NVRaf]    Script Date: 30-Aug-18 11:55:15 ******/
CREATE DATABASE [NVRaf]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NVRaf', FILENAME = N'C:\BAZA\NVRaf.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'NVRaf_log', FILENAME = N'C:\BAZA\NVRaf_log.ldf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NVRaf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NVRaf]
GO
USE [NVRaf]
GO
/****** Object:  Table [dbo].[Clanovi]    Script Date: 30-Aug-18 11:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clanovi](
	[ID_Clana] [int] IDENTITY (1,1) NOT NULL ,
	[Ime_i_prezime] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[Korisnicko_ime] [nvarchar](50) NOT NULL,
	[Lozinka] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Clanovi] PRIMARY KEY CLUSTERED 
(
	[ID_Clana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dokumentacija]    Script Date: 30-Aug-18 11:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dokumentacija](
	[ID_Dokumenta] [int] IDENTITY (1,1) NOT NULL,
	[Naziv_Dokumenta] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Dokumentacija] PRIMARY KEY CLUSTERED 
(
	[ID_Dokumenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prilozi]    Script Date: 30-Aug-18 11:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prilozi](
	[Redni_broj] [int] IDENTITY (1,1) NOT NULL,
	[ID_Dokumenta] [int] NOT NULL,
	[ID_Sednice] [int] NOT NULL,
	[Putanja] [nvarchar](max) NOT NULL,
	[Poslato] [bit] NOT NULL,
	[Datum_slanja] [datetime2](7) NOT NULL,
	[Naziv_priloga][nvarchar](50) NOT NULL,

 CONSTRAINT [PK_Prilozi] PRIMARY KEY CLUSTERED 
(
	[Redni_broj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prisustvo]    Script Date: 30-Aug-18 11:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prisustvo](
	[ID_Clana] [int] NOT NULL,
	[ID_Sednice] [int] NOT NULL,
	[Prisutan] [bit] NOT NULL,
	[Opravdano] [bit] NOT NULL,
 CONSTRAINT [PK_Prisustvo] PRIMARY KEY CLUSTERED 
(
	[ID_Clana] ASC,
	[ID_Sednice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sednice]    Script Date: 30-Aug-18 11:55:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sednice](
	[ID_Sednice] [int] IDENTITY (1,1) NOT NULL,
	[Datum] [datetime2](7) NOT NULL,
	[Vrsta_redovna] [bit] NOT NULL,
	[Ucionica] [nvarchar](50) NOT NULL,
	[Zapisnik] [nvarchar](max) NOT NULL,
	[Poziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sednice] PRIMARY KEY CLUSTERED 
(
	[ID_Sednice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prilozi]  WITH CHECK ADD  CONSTRAINT [FK_Prilozi_Dokumentacija] FOREIGN KEY([ID_Dokumenta])
REFERENCES [dbo].[Dokumentacija] ([ID_Dokumenta])
GO
ALTER TABLE [dbo].[Prilozi] CHECK CONSTRAINT [FK_Prilozi_Dokumentacija]
GO
ALTER TABLE [dbo].[Prilozi]  WITH CHECK ADD  CONSTRAINT [FK_Prilozi_Sednice] FOREIGN KEY([ID_Sednice])
REFERENCES [dbo].[Sednice] ([ID_Sednice])
GO
ALTER TABLE [dbo].[Prilozi] CHECK CONSTRAINT [FK_Prilozi_Sednice]
GO
ALTER TABLE [dbo].[Prisustvo]  WITH CHECK ADD  CONSTRAINT [FK_Prisustvo_Clanovi] FOREIGN KEY([ID_Clana])
REFERENCES [dbo].[Clanovi] ([ID_Clana])
GO
ALTER TABLE [dbo].[Prisustvo] CHECK CONSTRAINT [FK_Prisustvo_Clanovi]
GO
ALTER TABLE [dbo].[Prisustvo]  WITH CHECK ADD  CONSTRAINT [FK_Prisustvo_Sednice] FOREIGN KEY([ID_Sednice])
REFERENCES [dbo].[Sednice] ([ID_Sednice])
GO
ALTER TABLE [dbo].[Prisustvo] CHECK CONSTRAINT [FK_Prisustvo_Sednice]
GO
USE [master]
GO
